body {
    background-color:rgb(238, 240, 242) ;
    margin: 0 auto;
}
#navbar {
    background-color: rgb(61, 61, 62); 
    height: 80px;
    align-items: center;  
    display: flex ;
    border-bottom: 1px solid rgb(238, 240, 242) ;
    justify-content: space-between;
}
#logo_container {
width: 300px;
float: left;
display: flex;
justify-content: flex-start;
padding: 15px;

}
#logo_container img {
    height: 60px;
    margin-right: 15px;

}
#logo_container h2 {
    display: inline-block; 
    color:white ;

}
#profile_container {
    width: auto;
    float: right;
}
#profile_container> img {
    height: 70px;
    border-radius: 50%;
}
.main {
height: calc(100vh - 81px);
position: relative;
overflow: hidden;
}
#container > h2{
    color: #555;
    margin:0 0 15px 0;
    text-decoration: underline;

}
#sidebar {
    background-color: rgb(61, 61, 62);
    width: 150px;
    height: 100%;
    float: left;  
}
#container {
    padding: 15px;
    float: left;
    width: calc(100vw - 180px);
}
#tile_container, 
#circle_container {
    display: flex;
}
#tile_container {
margin-bottom: 15px;
}
.green_bg {
    background-color: green;

}
.purple_bg {
    background-color: purple;
}
.red_bg {
background-color: red;
}
.cyan_bg {
    background-color: rgb(0, 169, 255);
}
.tile {
    height: 200px;
   
}
.tile,
 .circle, .chart { display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    justify-content: center;
    align-items: center;
}
#tile_container > div,
#circle_container > div
 {
    margin-right: 15px;

}
.circle, .chart {
    height: calc((100vw - 180px) / 4 );
}
.circle {
    border-radius: 50%;
}
.tile h2, .tile p {
    color: white;
} 
#tile_container > div:last-child 
#circle_container > div:last-child {
    margin-right: 0;
}
.inner_one {
height: 70%;
width: 70%;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
} 
.inner_one h2,
.inner_three h2 {
    color: white;
}
.inner_two {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_three {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_four {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color:  purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
height: 100%;
width: 15px;
position: absolute;
}
.chart {
    position: relative;
    display: block;
}
.chart div {
    bottom: 0;
}
.one {
    left: 0;
    height: calc((100%)-30px);
}
.two {
    left: 25px;
    height: calc();
    height: calc(100% - 10px);
}
.three {
    left: 50px;
    height: calc(100% - 70px);
}
.four {
   left: 75px;
   height: calc(100% - 100px); 
}
.five {
    left: 98px;
    height: calc(100% - 200px);
}
.six {
    left: 125px;
    height: calc(100% - 70px);
}
.line {
    width: 100%;
    height: 15px;
    background-color: rgb(56, 53, 53);
    position: absolute;
}
#sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px 30px 30px;
}
#sidebar nav a.active {
    color: rgb(80, 213, 80);
    text-decoration: none;

}
#sidebar nav a {
    color : white;
    padding: 5px;
}
#sidebar nav a:first child {
padding-top: 0;
}